header {
  background-color: transparent;
  position: sticky;
  position: -webkit-sticky;
  background-color: #001220ee;
  top: 0;
}
.header-container {
  max-width: var(--page-width);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: auto;
}
.header-container div {
  line-height: 1.4;
}
.header-container img {
  width: 42px;
  height: 42px;
  border-radius: 4px;
}
.header-container div:nth-child(1) {
  flex-grow: 1;
}
.separator {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 16/9;
  top: 176px;
  width: 100vw;
  z-index: -1;
}
.menu {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 1rem 0;
  transition: 0.2s;
  display: flex;
}
.menu .links {
  flex: 1;
}
.menu .info {
  margin: 0 12px;
}
header ~ .menu > .links > * {
  display: inline-block;
  margin: 0 18px;
}
.menu > .links > * {
  display: inline-block;
  margin: 0 4px;
}
.sticky {
  border-color: rgb(150, 150, 150);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  background-color: var(--primary-background);
}
