:root {
  --primary-background: #001220;
  --primary-color: #fff;
  --header-color: #c72424;
  --hover-color: rgba(255, 255, 255, 0.1);
  --page-width: 1000px;
  --border-color: rgba(255, 255, 255, 0.2);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Calibri,
    Carlito,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Emoji";
  font-size: calc(16px + 0.2vmin);
  background-color: var(--primary-background);
  color: var(--primary-color);
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
pre {
  margin: 0;
}
section {
  margin: 2rem 0;
}
section h1 {
  margin: 1rem 0;
}
pre {
  white-space: pre-wrap;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:focus {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}
main {
  margin: 20px auto;
  padding: 20px;
  max-width: var(--page-width);
}
footer {
  margin: 20px auto;
  padding: 20px;
  max-width: var(--page-width);
}
img.small {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
img.medium {
  width: 96px;
  height: 96px;
  border-radius: 2px;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.post {
  width: 420px;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  padding: 1rem 1.5rem;
}
.post:nth-child(1) .post-image {
  float: left;
  margin-right: 1rem;
}
.post:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
.intro {
  border: 0;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  margin-bottom: 2rem;
}
a.emoji {
  text-decoration: none;
  padding: 6px;
  font-size: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 40px;
}
a.emoji:hover,
a.emoji:active {
  background-color: transparent;
  background-color: var(--border-color);
}
a.emoji:after,
a.emoji.active:after {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0 6px;
  opacity: 0;
  content: attr(title);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
a.emoji:hover:after,
a.emoji:active:after,
a.emoji.active:after {
  opacity: 1;
  content: attr(title);
}
a.emoji.active:hover:after,
a.emoji.active:active:after {
  opacity: 1;
  content: attr(title);
}
.circle {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
}
.JavaScript {
  background-color: #f1e05a;
}
.HTML {
  background-color: #e34c26;
}
.TypeScript {
  background-color: #2b7489;
}
.CSS {
  background-color: #563d7c;
}
.Shell {
  background-color: #89e051;
}
