/* docs/index.css */
:root {
  --primary-background: #1c1c1c;
  --primary-color: #fff;
  --page-width: 1000px;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  font-size: calc(18px + 0.5vmin);
  background-color: var(--primary-background);
  color: var(--primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
pre {
  margin: 0;
  padding: 0;
}
pre {
  white-space: pre-wrap;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:focus {
  text-decoration-line: underline;
}
main {
  margin: 20px auto;
  padding: 20px;
  max-width: var(--page-width);
}
footer {
  margin: 20px auto;
  padding: 20px;
  max-width: var(--page-width);
}
img.small {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
img.medium {
  width: 96px;
  height: 96px;
  border-radius: 2px;
}
main > * {
  margin-bottom: 60px;
}
.post {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post :nth-child(1) {
  flex: 1;
}
.circle {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
}
.JavaScript {
  background-color: #f1e05a;
}
.HTML {
  background-color: #e34c26;
}
.TypeScript {
  background-color: #2b7489;
}
.CSS {
  background-color: #563d7c;
}
.Shell {
  background-color: #89e051;
}
